@media screen and (min-width: 1200px){
    .div{
        text-align: justify;
        margin-left: 50px;
        margin-right: 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #7e8696;
    }
}

@media screen and (min-width: 500px) and (max-width: 1199px){
    .div{
        text-align: justify;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}